* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fdf6ed;
  color: #2e2e2e;
  scroll-behavior: smooth;
}

/* ===== HEADER ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #fff6ea;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
}
.logo span {
  color: #cda64b;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
nav a:hover,
nav a.active {
  color: #cda64b;
}
.contact-btn {
  background: #8b5e28;
  color: #fff !important;
  padding: 8px 16px;
  border-radius: 20px;
}

/* ===== HOME ===== */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 100px;
  min-height: 90vh;
}

.home-container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.home-image img {
  width: 250px;
  border-radius: 50%;
  border: 5px solid #cda64b;
}

.home-text {
  max-width: 600px;
}

.home-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.home-text span {
  color: #cda64b;
}
.home-text h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.social-icons {
  margin: 15px 0;
}
.social-icons a {
  font-size: 1.5rem;
  color: #5b3b13;
  margin-right: 15px;
  transition: 0.3s;
}
.social-icons a:hover {
  color: #cda64b;
}

.cv-btn {
  display: inline-block;
  padding: 12px 25px;
  background: #8b5e28;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
  transition: 0.3s;
}
.cv-btn:hover {
  background: #cda64b;
}

/* ===== SECTIONS ===== */
section {
  padding: 80px 100px;
}
h2 {
  color: #cda64b;
  font-size: 2rem;
  margin-bottom: 25px;
}

/* Experience */
.exp-item,
.job {
  margin-bottom: 30px;
}
ul {
  margin-left: 20px;
}

/* ===== CONTACT ===== */
.contact {
  text-align: center;
}
.contact a {
  color: #8b5e28;
  text-decoration: none;
}
.contact a:hover {
  color: #cda64b;
}

/* ===== FOOTER ===== */
.footer {
  text-align: center;
  padding: 20px;
  background: #f1e4cf;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: 500;
  color: #5b3b13;
}
